<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-sm-4" style="height:277px;padding-top:15px;margin-left:80px;margin-right:20px;margin-top:70px;width:300px;border-radius:13px">

<div>
<div style="width:400px;height:380px;border-color:maroon;border-width:1px;border-style:solid;border-radius:15px;margin-left:-40px;margin-top:-60px">
<div style="height:100px;background-color:maroon;border-top-left-radius:15px;border-top-right-radius:15px;margin-top:-21px;">
<h1 style="font-weight:700;color:white;text-align:center;padding-top:25px">Login</h1>
</div>
</di style="height:268px;border-bottom-left-radius:15px;border-bottom-right-radius:15px;background-color:white">
<input type="textbox" placeholder="Username" style="margin-top:50px;margin-right:10px;width:263px;height:34px;margin-bottom:15px;border-radius:12px;margin-left:56px" type="text" ID="m_Username" runat="server"></input>
<input type="textbox" placeholder="Password" style="margin-right:10px;width:263px;height:34px;border-radius:12px;margin-left:56px" type="password" ID="m_Password" runat="server"></input>
<input type="submit"  aria-valuetext="Login" style="border-width:1px;border-style:solid;border-radius:15px;margin-left:243px;margin-top:50px;width:100px;height:45px;background-color:maroon;color:#fff;cursor:pointer;border:none"   runat="server" />
</div>
</div>
</div>
</body>
</html>